@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.HideScroll::-webkit-scrollbar {
  display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media screen and (max-width: 730px) {
  .ant-modal .ant-modal-content {
    padding: 10px 10px;
  }
}
.cancelReason input[type="radio"] {
  height: 18px;
  width: 18px;
}
.cancelReason {
  font-size: 18px;
}
.ant-list-item-meta-avatar {
  margin-inline-end: 7px !important;
}
.ant-list-item-meta-title {
  margin-block-end: 0px !important;
}
