@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --theme-blue: #2874f0;
  --theme-black: #000000;
  --theme-white: #ffffff;
  --theme-grey: #f5f5f5;
  --theme-border: #d9d9d9;
  --theme-red: #db4444;
  --theme-green: #38cb89;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.HideScroll::-webkit-scrollbar {
  display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media screen and (max-width: 730px) {
  .ant-modal .ant-modal-content {
    padding: 10px 10px;
  }
}
.cancelReason input[type="radio"] {
  height: 18px;
  width: 18px;
}
.cancelReason {
  font-size: 18px;
}
.ant-list-item-meta-avatar {
  margin-inline-end: 7px !important;
}
.ant-list-item-meta-title {
  margin-block-end: 0px !important;
}
.AccountSection-Dropdown > .ant-dropdown-menu {
  box-shadow: 0px 0px 15px 2px #c3bfbf;
}
.AccountSection-Dropdown > .ant-dropdown-menu > .ant-dropdown-menu-item:hover {
  color: var(--theme-red);
}
.AccountSection-Dropdown > .ant-dropdown-menu .Active_Navbar_Menu {
  color: var(--theme-red) !important;
}
