.ProductCantainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  gap: 35px;
  background: rgb(255, 255, 255);
}

.Productshow {
  border: 1px solid #ccc;
  /* min-width: 200px; */
  width: 150px;
  height: max-content;
}

.ProductshowImg {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  aspect-ratio: 5/4;
  object-fit: cover;
}
.Productshow img:hover {
  animation-name: imagescale;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes imagescale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.productTitle {
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
  color: #000;
  /* margin-bottom: 10px; */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productBrand,
.productPrice,
.productRating,
.productCategory {
  margin-bottom: 5px;
}

.Productaddbutton {
  background-color: #1e293b;
  color: #fff;
  border: none;
  cursor: pointer;
}

.Productaddbutton:hover {
  background-color: #006666;
}
.BannerImg {
  width: 100%;
}
.buyandadddiv {
  width: auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .Productshow {
    width: 200px;
  }
}
